$rowLength: 15;
$letterSize: 28px;
$textContainerWidth: calc($letterSize * $rowLength);
$textRed: hsl(0, 91%, 47%);
$lightRed: #e75959;
$textOrange: hsl(30, 100%, 50%);
$lightOrange: #eab35a;
$textGreen: hsl(124, 76%, 30%);
$lightGreen: #83f26f;
$textBlue: hsl(229, 78%, 52%);
$lightBlue: #37d8e1;
$buttonOrange: hsl(30, 100%, 50%);
$buttonActiveOrange: hsl(30, 100%, 40%);

*, *::before, *::after {
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5 {
  margin: 0;
}

.btn:disabled, .btn[disabled] {
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltip-text {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  width: 120px;
  top: 100%;
  left: 50%;
  margin-left: -60px;
}

.btn {
  font-size: inherit;
  background-color: $buttonOrange;
  padding: 0.5em 1em;
  margin: 0 0.5rem;
  outline: none;
  border: none;
  text-decoration: none;
  cursor: pointer;
  border-radius: 0.2em;
  color: #f3f3f3;
}

.btn:hover:not(.btn[disabled]), .btn:focus:not(.btn[disabled]) {
  background-color: $buttonActiveOrange;
}

.btn:hover ~ .tooltip-text {
  visibility: visible;
}

.player-container, .opponent-container {
  width: $textContainerWidth;
  margin: 10px;
}

.player-header {
  text-align: center;
  padding: 10px 0;
}

.player-text {
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat($rowLength, $letterSize);
  user-select: none;
  background: #c6c3c3;
  transition: .1s linear;
  position: relative;
  transition: box-shadow .3s;
}

.text-letter {
  display: inline-block;
  font-size: 1.5rem;
  width: $letterSize;
  height: $letterSize;
  text-align: center;
  border: 1px solid grey;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #edebeb;
  transition: border-color .3s, background-color .3s;
}

.game-info {
  padding-top: 10px;
  text-align: justify;
}

.text-letter[data-color="orange"] {
  border-color: $textOrange;
  background-color: $lightOrange;
}

.player-text[data-color="orange"] {
  box-shadow: 0 0 20px $textOrange;
  color: $textOrange;
}

.message[data-color="orange"] {
  color: $textOrange;
}

.text-letter[data-color="red"] {
  border-color: $textRed;
  background-color: $lightRed;
}

.player-text[data-color="red"] {
  box-shadow: 0 0 20px $textRed;
  color: $textRed;
}

.message[data-color="red"] {
  color: $textRed;
}

.text-letter[data-color="blue"] {
  border-color: $textBlue;
  background-color: $lightBlue;
}

.message[data-color="blue"] {
  color: $textBlue;
}

.text-letter[data-color="green"] {
  border-color: $textGreen;
  background-color: $lightGreen;
}

.message[data-color="green"] {
  color: $textGreen;
}
